<!DOCTYPE html>
<html lang="en">
<head>
    <title>Titolo</title>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
      </head>
</head>
<body>
    <form method="post" action="/login">
        <h3>Login Here</h3>

        <label for="Username">Username</label>
        <input type="text" placeholder="Username" id="username" required hidden>

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" required hidden>

        <input type="submit" value="Submit">
        <div class="social">
            <button>Forget Password</button>
        </div>
    </form>
</body>
</html>
