<!DOCTYPE html>
<html lang="en">
<head>
    <title>Titolo</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link href="./style.css" rel="stylesheet">
</head>
<body>
    <form method="post" action="/index.html">
        <h3>Login Here</h3>

        <label for="Email">Email</label>
        <input type="text" placeholder="Email" id="email" required>

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" required>

        <input type="submit" value="Submit">
        <div class="social">
            <button>Forget Password</button>
        </div>
    </form>
</body>
</html>
